/*
	Template: START - A Complete Startup Landing Page Pack
	Author: Santu Roy
	Author URI: http://themeforest.net/user/santuroy
	Version: 1.0
*/
/* TABLE OF CONTENTS

	1. BASIC DOUCMENT STYLES
	2. NAV MENU STYLES
	3. HEADER 1 STYLES
	4. HEADER 2 STYLES
	5. HEADER 3 STYLES
	6. HEADER 4 STYLES
	7. HEADER 5 STYLES
	8. HEADER 6 STYLES
	9. HEADER 7 STYLES
	10. KEY FEATURES SECTION STYLES
	11. VIDEO SECTION STYLES
	12. IMAGE CONTAINER 1 SECTION STYLES
	13. FEATURES SECTION STYLES
	14. IMAGE CONTAINER 2 SECTION STYLES
	15. SERVICE SECTION STYLES
	16. TEAM SECTION STYLES
	17. WORK SECTION STYLES
	18. PRICES SECTION STYLES
	19. FAQ SECTION STYLES
	20. TESTIMONIALS SECTION STYLES
	21. CLIENTS SECTION STYLES
	22. SIGN-UP SECTION STYLES
	23. FOOTER SECTION STYLES
	
*/
/* 1. BASIC DOUCMENT STYLES
-------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'open sans',sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	cursor: pointer;
}

::selection {
	color: #fff;
}

-webkit-::selection {
	color: #fff;
}

::-moz-selection {
	color: #fff;
}

a {
	-webkit-transition: all .3s;
	transition: all .3s;
}

a:hover,a:focus {
	text-decoration: none;
	outline: none;
}

input[type="email"],input[type="text"],input[type="password"],input[type="submit"] {
	outline: none;
}

form input {
	border-radius: 50px;
	padding: 15px 30px;
	border: none;
	font-size: 15px;
	text-align: center;
	width: auto;
	text-transform: uppercase;
}

form input[type="text"],form input[type="password"],form input[type="email"] {
	color: #979797;
	background: #fff;
	font-weight: 600;
	font-size: 14px;
}

form input[type="text"]:focus,form input[type="password"]:focus,form input[type="email"]:focus {
	color: #222;
}

form input[type="submit"] {
	-webkit-transition: all .3s;
	transition: all .3s;
}


#titlebar {
	position:relative;
	color: #f8f8f8;
	text-align: center;
	background-image: url(../img/animate.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed !important;
	background-repeat: repeat;
	-webkit-animation: BackgroundAnimation 300s linear infinite;
	-moz-animation: BackgroundAnimation 300s linear infinite;
	-ms-animation: BackgroundAnimation 300s linear infinite;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	flex-direction: row;
	-webkit-flex-direction: row;
}

.gry-bg {
	background: #eef1f2;
}

.v-align-children {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	flex-direction: row;
	-webkit-flex-direction: row;
}

.light-text > h2 {
	color: #fff !important;
}

.light-text > p {
	color: #eef1f2 !important;
}

#scrollUp {
	bottom: 30px;
	right: 30px;
	height: 40px;
	width: 40px;
	background: rgba(69,75,84,.7);
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
	-webkit-transition: all .3s;
	transition: all .3s;
}

#scrollUp:hover {
	color: #fff;
}

/* 2. NAV MENU STYLES
-------------------------------------------------*/
.navbar {
	border: none;
	background: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	padding: 20px 0 17px;
}

.scroll-fixed-nav {
	padding: 15px 0 12px;
	box-shadow: 0 2px 30px rgba(0,0,0,0.2);
}

.navbar-brand {
	padding: 7px 15px;
}

.navbar-default .navbar-nav>li>a {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #4C4C4C;
	padding: 15px 20px;
}

#featured-sign-up {
	margin-left: 20px;
	margin-right: 15px;
}

#featured-sign-up > a {
	padding: 11px 25px !important;
	color: #fff !important;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin-top: 4px;
}



/* 3. HEADER 1 STYLES
-------------------------------------------------*/
.header-section-1 {
	background-image: url(../../img/bg/header-bg-1.jpg);
	background-repeat: repeat-y;
	background-position: center center;
	background-size: cover;
}

.intro-text-1 {
	margin: 340px 0 210px;
}

.intro-text-1 > p {
	font-size: 26px;
	font-weight: 300;
	color: #eef1f2;
	margin: 0;
}

.intro-text-1 > h1 {
	margin: 0;
	font-size: 65px;
	color: #fff;
	font-weight: 300;
	margin-bottom: 65px;
}

.subscribe-form-1 form input {
	width: 300px;
}

.subscribe-form-1 form input[type="email"] {
	color: #96a1b4;
	margin-bottom: 10px;
}

.subscribe-form-1 form input[type="submit"] {
	color: #fff;
	font-weight: 700;
	-webkit-transition: all .3s;
	transition: all .3s;
}



/* 4. HEADER 2 STYLES
-------------------------------------------------*/
.header-section-2 {
	background-image: url(../../img/bg/header-bg-2.jpg);
	background-repeat: repeat-y;
	background-position: center center;
	background-size: cover;
}

.intro-text-2 {
	margin: 300px 0 210px;
}

.intro-text-2 > p {
	font-size: 22px;
	font-weight: 300;
	color: #585858;
	margin: 0;
}

.intro-text-2 > h1 {
	margin: 0;
	font-size: 56px;
	color: #222;
	font-weight: 300;
	margin-bottom: 80px;
}

.intro-buttons-2 > a:first-child {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	border-radius: 100px;
	padding: 14px 40px;
	margin-right: 20px;
}

.intro-buttons-2 > a:first-child:hover {
	color: #fff;
}

.intro-buttons-2 > a > i {
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 48px;
	border: 2px solid #494c54;
	border-radius: 50%;
	margin-right: 12px;
	-webkit-transition: all .3s;
	transition: all .3s;
	color: #494c54;
}

.intro-buttons-2 > a:last-child {
	color: #494c54;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
}


/* 5. HEADER 3 STYLES
-------------------------------------------------*/
.header-section-3 {
	background-image: url(../../img/bg/header-bg-3.jpg);
	background-repeat: repeat-y;
	background-position: center center;
	background-size: cover;
}

.intro-text-3 {
	margin: 340px 0 210px;
}

.intro-text-3 > p {
	font-size: 22px;
	font-weight: 300;
	color: #eef1f2;
	margin: 0;
}

.intro-text-3 > h1 {
	margin: 0;
	font-size: 56px;
	color: #fff;
	font-weight: 300;
	margin-bottom: 70px;
}

.sign-up-form-3 > form > input {
	padding: 15px 30px;
	width: auto;
	max-width: 250px;
	margin-right: 15px;
	display: inline-block;
}

.sign-up-form-3 > form > input[type="text"],.sign-up-form-3 > form > input[type="email"] {
	font-weight: 600;
	margin-bottom: 10px;
}

.sign-up-form-3 > form > input[type="submit"] {
	color: #fff;
	font-weight: 700;
	-webkit-transition: all .3s;
	transition: all .3s;
	margin-right: 0;
}


/* 6. HEADER 4 STYLES
-------------------------------------------------*/
.header-section-4 {
	background-image: url(../../img/bg/header-bg-4.jpg);
	background-repeat: repeat-y;
	background-position: center center;
	background-size: cover;
}

.intro-text-4 {
	margin: 300px 0 210px;
}

.intro-text-4 > p {
	font-size: 22px;
	font-weight: 300;
	color: #eef1f2;
	margin: 0;
}

.intro-text-4 > h1 {
	margin: 0;
	font-size: 56px;
	color: #fff;
	font-weight: 300;
	margin-bottom: 80px;
}

.intro-buttons-4 > a {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	border-radius: 100px;
	padding: 14px 50px;
	margin-right: 20px;
}

.intro-buttons-4 > a:hover {
	color: #fff;
}

.intro-buttons-4 > a:last-child {
	margin-right: 0;
	border: 2px solid #fff;
	color: #fff;
	background: none;
	border-radius: 100px;
}

.intro-buttons-4 > a:last-child:hover {
	background: #fff;
}

/* 7. HEADER 5 STYLES
-------------------------------------------------*/
.header-section-5 {
	background-image: url(../../img/bg/header-bg-5.jpg);
	background-repeat: repeat-y;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
}

.header-section-5 .row{
	position:relative;
}

.credit-card-container {
	position: absolute;
	height: 100%;
	width: 75%;
	bottom: 0;
	left: -15%;
}

.credit-card-container img {
	position: inherit;
	bottom: 0;
}

.sign-up-form-container-5 {
	padding: 205px 0 120px 50px;
}

.sign-up-form-holder-5 {
	background: #fff;
	padding: 30px;
}

.sign-up-form-holder-5 h1 {
	font-size: 32px;
	line-height: 40px;
	color: #222;
	font-weight: 300;
}

.sign-up-form-holder-5 p {
	font-size: 18px;
	line-height: 24px;
	color: #93a0a4;
	font-weight: 300;
}

.sign-up-form-5 {
	margin-top: 25px;
	margin-bottom: 25px;
}

.sign-up-form-5 form input {
	width: 95%;
	margin-top: 13px;
}

.sign-up-form-5 form input[type="text"],.sign-up-form-5 form input[type="email"],.sign-up-form-5 form input[type="password"] {
	background: #eef1f2;
	border: 2px solid #dce4e7;
	text-align: left;
	color: #838383;
	text-transform: capitalize;
	font-weight: 400;
	font-size: 15px;
	padding: 13px 25px;
}

.sign-up-form-5 form input[type="text"]:focus,.sign-up-form-5 form input[type="email"]:focus,.sign-up-form-5 form input[type="password"]:focus {
	color: #222;
}

.sign-up-form-5 form input[type="submit"] {
	font-weight: 700;
	color: #fff;
	padding: 16px 30px;
}


.sign-up-form-holder-5 .policy-text {
	font-size: 14px;
	font-weight: 400;
	color: #9ea9ac;
	line-height: 24px;
}


/* 8. HEADER 6 STYLES
-------------------------------------------------*/
.header-section-6 {
	background: #d5ddce;
/* Old browsers */
	background: -moz-linear-gradient(top,#d5ddce 0%,#c7d2ca 84%,#eef1f2 100%);
/* FF3.6-15 */
	background: -webkit-linear-gradient(top,#d5ddce 0%,#c7d2ca 84%,#eef1f2 100%);
/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,#d5ddce 0%,#c7d2ca 84%,#eef1f2 100%);
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d5ddce',endColorstr='#eef1f2',GradientType=0);
/* IE6-9 */
}

.intro-text-6 {
	margin: 240px 0 0;
}

.intro-text-6 > p {
	font-size: 22px;
	font-weight: 300;
	color: #585858;
	margin: 0;
}

.intro-text-6 > h1 {
	margin: 0;
	font-size: 56px;
	color: #222;
	font-weight: 300;
	margin-bottom: 50px;
}

.intro-text-6 img {
	margin: auto;
}

.intro-buttons-6 {
	margin-bottom: 70px;
}

.intro-buttons-6 > a {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	border-radius: 100px;
	padding: 14px 50px;
	margin-right: 20px;
}

.intro-buttons-6 > a:hover {
	color: #fff;
}

.intro-buttons-6 > a:last-child {
	margin-right: 0;
	border: 2px solid #505050;
	color: #505050;
	background: none;
	border-radius: 100px;
}

.intro-buttons-6 > a:last-child:hover {
	background: #fff;
	border: 2px solid #fff;
}

/* 9. HEADER 7 STYLES
-------------------------------------------------*/
.header-section-7 {
	background-image: url(../../img/bg/header-bg-7.jpg);
	background-repeat: repeat-y;
	background-position: center center;
	background-size: cover;
}

.intro-text-7 {
	margin: 340px 0 210px;
}

.intro-text-7 > p {
	font-size: 26px;
	font-weight: 300;
	color: #eef1f2;
	margin: 0;
}

.intro-text-7 > h1 {
	margin: 0;
	font-size: 65px;
	color: #fff;
	font-weight: 300;
	margin-bottom: 65px;
}

.intro-buttons-7 > a {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	border-radius: 100px;
	padding: 14px 50px;
	margin-right: 20px;
}

.intro-buttons-7 > a:hover {
	color: #fff;
}

.intro-buttons-7 > a:last-child {
	margin-right: 0;
	border: 2px solid #fff;
	color: #fff;
	background: none;
	border-radius: 100px;
}

.intro-buttons-7 > a:last-child:hover {
	background: #fff;
}

/* 10. KEY FEATURES SECTION STYLES
-------------------------------------------------*/
.key-features-section {
	padding: 70px 0;
}

.single-key-feature {
	padding: 0 50px;
}

.single-key-feature:hover i {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.key-features-section .col-md-4 {
	border-right: 1px solid #fff;
}

.key-features-section .col-md-4:last-child {
	border-right: none;
}

.single-key-feature > i {
	font-size: 50px;
	background: #fff;
	height: 110px;
	width: 110px;
	border-radius: 100%;
	line-height: 110px;
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.single-key-feature-details {
}

.single-key-feature-details > h3 {
	font-size: 20px;
	font-weight: 600;
	color: #222;
	line-height: 32px;
	margin-top: 30px;
	margin-bottom: 7px;
}

.single-key-feature-details > p {
	color: #777;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	margin: 0;
}

/* 11. VIDEO SECTION STYLES
-------------------------------------------------*/
.video-section {
	padding: 130px 0;
}

.video-section-text {
	padding-right: 80px;
}

.video-section-text > h3 {
	font-size: 36px;
	line-height: 48px;
	color: #222;
	font-weight: 300;
	margin-bottom: 22px;
	margin-top: 0;
}

.video-section-text > p {
	font-size: 17px;
	line-height: 30px;
	color: #8a8a8a;
	font-weight: 500;
	margin-bottom: 60px;
}

.video-section-text > a {
	padding: 9px 33px;
	color: #fff;
	border-radius: 100px;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}

.video-bg {
	border-radius: 50%;
	background-image: url(../../img/bg/video.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	display: table;
	padding: 145px;
	margin: 0 auto;
}

.video-bg > a > img {
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.video-bg > a > img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* 12. IMAGE CONTAINER 1 SECTION STYLES
-------------------------------------------------*/
.image-container-section-1 {
	position: relative;
}

.image-container-1 {
	position: absolute;
	content: "";
	display: block;
	width: 50%;
	height: 100%;
	left: 0;
	top: 0;
	background-image: url(../../img/bg/image-1.jpg);
	background-repeat: repeat-x;
	background-position: right center;
}

.image-container-1-text {
	padding: 120px 0 120px 60px;
}

.image-container-1-text > h3 {
	font-size: 36px;
	line-height: 48px;
	color: #222;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 20px;
}

.image-container-1-text > p {
	font-size: 17px;
	line-height: 30px;
	color: #8a8a8a;
	font-weight: 500;
	margin-bottom: 60px;
}

.image-container-1-text > a {
	padding: 7px 33px;
	background: none;
	color: #000000;
	border: 2px solid #4e4e4e;
	border-radius: 100px;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}

.image-container-1-text > a:hover {
	color: #fff;
}

/* 13. FEATURES SECTION STYLES
-------------------------------------------------*/
.features-section {
	padding: 140px 0 90px;
}

.section-title {
	margin-bottom: 80px;
}

.section-title > h2 {
	font-size: 40px;
	font-weight: 300;
	color: #222;
	text-transform: capitalize;
	margin-bottom: 17px;
	margin-top: 0;
}

.section-title > p {
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #8a8a8a;
}

.single-feature {
	margin-bottom: 50px;
}

.single-feature:hover i {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.single-feature > i {
	font-size: 30px;
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.single-feature > h4 {
	margin-left: 55px;
	font-size: 22px;
	font-weight: 500;
	color: #484848;
	margin-top: 0;
}

.single-feature > p {
	margin-left: 55px;
	font-size: 15px;
	line-height: 24px;
	font-weight: 500;
	color: #929292;
}

/* 14. IMAGE CONTAINER 2 SECTION STYLES
-------------------------------------------------*/
.image-container-section-2 {
	overflow: hidden;
}

.image-container-2-text {
	padding: 130px 80px 130px 0;
}

.image-container-2-text > h3 {
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	color: #222;
	margin-bottom: 15px;
	margin-top: 0;
}

.image-container-2-text > p {
	font-size: 17px;
	font-weight: 500;
	line-height: 30px;
	color: #8a8a8a;
	margin-bottom: 60px;
}

.image-container-2-text > a {
	padding: 9px 33px;
	color: #fff;
	border-radius: 100px;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}

.image-container-2 > img {
	margin: 0 auto;
	display: table;
	margin-bottom: -128px;
}

/* 15. SERVICE SECTION STYLES
-------------------------------------------------*/
.service-section {
	background-image: url(../../img/bg/service-bg.jpg);
	background-repeat: repeat-y;
	background-position: center center;
	background-size: cover;
	padding: 140px 0 70px;
}

.single-service {
	background: rgba(33,39,49,0.7);
	padding: 40px 30px 10px;
	margin-bottom: 50px;
}

.single-service > i {
	font-size: 36px;
	height: 80px;
	width: 80px;
	color: #fff;
	border-radius: 50%;
	line-height: 80px;
	-webkit-transition: all .3s;
	transition: all .3s;
	position: relative;
	top: 0;
	opacity: 1;
}

.single-service:hover i {
	top: -40px;
	opacity: 0;
}

.single-service:hover h4 {
	top: -90px;
}

.single-service:hover p {
	top: -90px;
}

.single-service:hover a {
	top: -50px;
	opacity: 1;
}

.single-service > h4 {
	color: #fff;
	font-size: 20px;
	text-transform: capitalize;
	margin-top: 40px;
	font-weight: 500;
	-webkit-transition: all .3s;
	transition: all .3s;
	position: relative;
	top: 0;
}

.single-service > p {
	font-size: 15px;
	line-height: 24px;
	color: #b2b8bc;
	-webkit-transition: all .3s;
	transition: all .3s;
	position: relative;
	top: 0;
}

.single-service > a {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	background: #fff;
	color: #4e4e4e;
	padding: 6px 40px;
	border-radius: 50px;
	-webkit-transition: all .3s;
	transition: all .3s;
	position: relative;
	top: -10px;
	opacity: 0;
}

.single-service > a:hover {
	color: #fff;
}

/* 16. TEAM SECTION STYLES
-------------------------------------------------*/
.team-section {
	padding-top: 140px;
	overflow: hidden;
}

.single-member {
	position: relative;
}

.single-member:hover .member-info p {
	opacity: 1;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.single-member:hover .member-info h5 {
	opacity: 1;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.single-member:hover .social-profile > a {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.member-info {
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	padding: 20px 0;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.member-info > h5 {
	font-size: 20px;
	color: #fff;
	margin-bottom: 0;
	margin-top: 0;
	-webkit-transition: all .2s;
	transition: all .2s;
	opacity: 0;
	-webkit-transform: translateY(6px);
	transform: translateY(6px);
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}

.member-info > p {
	font-size: 14px;
	color: #eef1f2;
	-webkit-transition: all .2s;
	transition: all .2s;
	opacity: 0;
	-webkit-transform: translateY(-6px);
	transform: translateY(-6px);
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}

.social-profile {
	margin-top: 20px;
}

.social-profile > a {
	display: inline-block;
	-webkit-transition: all .2s;
	transition: all .2s;
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.social-profile > a:nth-child(1) {
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}

.social-profile > a:nth-child(2) {
	-webkit-transition-delay: .25s;
	transition-delay: .25s;
}

.social-profile > a:nth-child(3) {
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}

.social-profile > a:nth-child(4) {
	-webkit-transition-delay: .35s;
	transition-delay: .35s;
}

.social-profile > a:nth-child(5) {
	-webkit-transition-delay: .4s;
	transition-delay: .4s;
}

.social-profile > a > i {
	font-size: 14px;
	color: #fff;
	width: 30px;
	height: 30px;
	line-height: 30px;
	-webkit-transition: all .2s;
	transition: all .2s;
}

.social-profile > a > i:hover {
	background: #fff;
}

/* 17. WORK SECTION STYLES
-------------------------------------------------*/
.work-section {
	padding: 140px 0;
}

.work-section .col-md-3 {
	padding: 0;
}

.single-work {
	position: relative;
	overflow: hidden;
}

.single-work:hover a > img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.single-work:hover .work-info {
	opacity: 1;
}

.single-work > a > img {
	cursor: url(../../img/icons/pointer.png),crosshair;
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-transform: scale(1);
	transform: scale(1);
	overflow: hidden;
}

.work-info {
	padding: 8px 0 8px 15px;
	position: absolute;
	width: 100%;
	opacity: 0;
	-webkit-transition: all .3s;
	transition: all .3s;
	bottom: 0;
	z-index: 5;
}

.work-info > h5 {
	display: table;
	font-size: 18px;
	color: #fff;
}

.work-link {
	position: absolute;
	height: 100%;
	width: 17%;
	right: 0;
	top: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	color: #fff;
	z-index: 6;
}

.work-link:hover {
	color: #eaeaea;
}

.work-link i {
	font-size: 22px;
	vertical-align: middle;
}

/* 18. PRICES SECTION STYLES
-------------------------------------------------*/
.price-section {
	padding: 140px 0 90px;
}

.single-price {
	background: #fff;
	padding-bottom: 35px;
}

.price-header {
	padding: 30px 0 20px;
}

.plan-title {
	font-size: 24px;
	color: #222;
	font-weight: 400;
	text-transform: capitalize;
}

.plan-price {
	border-radius: 50%;
	margin: 0 auto;
	height: 130px;
	width: 130px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	color: #fff;
}

.plan-price > h4 {
	font-size: 50px;
	font-weight: 300;
	margin-top: 0;
}

.plan-price > h4 > span {
	font-size: 20px;
}

.price-features {
	margin-top: 35px;
}

.price-features > p {
	font-size: 15px;
	color: #676767;
	font-weight: 500;
}

.price-features > p > strong {
}

.price-footer {
	margin-top: 35px;
}

.price-footer > a {
	color: #474646;
	text-transform: uppercase;
	background: #eef1f2;
	border-radius: 50px;
	padding: 8px 35px;
	font-size: 14px;
	font-weight: 700;
	/* border: 2px solid #ffffff; */
}

.price-footer > a:hover {
	color: #fff;
}

#featured-price .plan-title {
	color: #fff;
}

#featured-price .plan-price {
	background: #fff;
	color: #222;
}

#featured-price .price-features > p {
	color: #eef1f2;
}

#featured-price .price-footer > a {
	background: #fff;
}

#featured-price .price-footer > a:hover {
	color: #fff;
}

/* 19. FAQ SECTION STYLES
-------------------------------------------------*/
.faq-section {
	padding: 140px 0 90px;
}

.single-question {
	margin-bottom: 50px;
	padding-right: 50px;
}

.question-number {
	font-size: 20px;
	font-weight: 500;
}

.single-question > h4 {
	font-size: 22px;
	color: #222;
	font-weight: 400;
	margin-bottom: 15px;
	margin-left: 35px;
}

.single-question > p {
	margin-left: 35px;
	font-size: 15px;
	line-height: 24px;
	color: #8a8a8a;
	font-weight: 500;
}

/* 20. TESTIMONIALS SECTION STYLES
-------------------------------------------------*/
.testimonial-section {
	background-image: url(../../img/bg/testimonial-bg.jpg);
	background-repeat: repeat-y;
	background-position: center center;
	background-size: cover;
	padding-top: 130px;
}

.quote-icon {
	font-size: 140px;
	text-align: center;
	line-height: 90px;
}

.tesimonial-slider {
	max-width: 650px;
	text-align: center;
	color: #fff;
	margin: 0 auto;
}

.tesimonial-slider .slick-slide {
	outline: none;
}

.tesimonial-slider .slick-slide p {
	font-size: 20px;
	line-height: 34px;
	font-weight: 400;
	margin-bottom: 55px;
	font-style: italic;
}

.tesimonial-slider .slick-slide h4 {
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 0;
}

.tesimonial-slider .slick-slide h5 {
	font-size: 14px;
	font-weight: 400;
	color: #e8e8e8;
	margin-bottom: 0;
	margin-top: 5px;
}

.testimonial-thumbs {
	position: relative;
	bottom: -50px;
	width: 550px;
	margin: 0 auto;
}

.testimonial-thumbs > div {
	margin-bottom: -10px;
}

.testimonial-thumbs .slick-slide {
	outline: none;
	padding: 20px 0;
}

.testimonial-thumbs .slick-slide img {
	height: 80px;
	width: 80px;
	border-radius: 100%;
	border: 5px solid #eef1f2;
	display: inline-block !important;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-transform: scale(1);
	transform: scale(1);
	overflow: visible;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.testimonial-thumbs .slick-current img {
	height: 72px;
	margin-top: 0;
	opacity: 1;
	width: 72px;
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

/* 21. CLIENTS SECTION STYLES
-------------------------------------------------*/
.clients-section {
	padding: 140px 0 90px;
}

.clients-section .row .col-md-3 {
	border-right: 1px solid #eef1f2;
	border-bottom: 1px solid #eef1f2;
}

.clients-section .row .col-md-3:last-child {
	border-right: none;
}

.clients-section .row:last-child .col-md-3 {
	border-bottom: none;
}

.single-client {
	padding: 15px 0;
}

.single-client:hover img {
	-webkit-filter: grayscale(50%);
	filter: grayscale(20%);
	opacity: 1;
}

.single-client > img {
	padding: 15px 0;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: .7;
	-webkit-transition: all .3s;
	transition: all .3s;
}

/* 22. SIGN-UP SECTION STYLES
-------------------------------------------------*/
.sign-up-section {
	padding: 70px 0 100px;
}

.sign-up-section h3 {
	font-size: 40px;
	font-weight: 300;
	color: #fff;
	margin-bottom: 15px;
}

.sign-up-section p {
	font-size: 18px;
	line-height: 26px;
	color: #eef1f2;
	margin-bottom: 70px;
}

.sign-up-section a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	background: #fff;
	border-radius: 50px;
	padding: 11px 43px;
}

.sign-up-section a:hover {
	color: #fff;
}

/* 23. FOOTER SECTION STYLES
-------------------------------------------------*/
.footer-section {
	background: #212731;
	color: #fff;
	padding-top: 80px;
}

.single-widget {
	margin-bottom: 70px;
	display:block;
}

.subscribe-widget > form > input {
	padding: 13px;
	width: 100%;
}

.subscribe-widget > form > input[type="email"] {
	font-weight: 500;
	margin-bottom: 10px;
	font-size: 14px;
}

.subscribe-widget > form > input[type="submit"] {
	color: #fff;
	font-weight: 700;
	-webkit-transition: all .3s;
	transition: all .3s;
}


.single-widget > h4 {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 35px;
}

.single-widget > ul {
	list-style: none;
}

.single-widget > ul > li {
	margin-bottom: 8px;
}

.single-widget > ul > li > a,.single-widget > p {
	color: #9b9fa7;
	font-size: 15px;
	line-height: 25px;
	font-weight: 500;
	margin-bottom: 20px;
}

.single-widget > ul > li > a:hover {
	color: #f1f1f1;
}

.copyright {
	border-top: 1px solid #404855;
	padding: 20px 0 15px;
}

.copyright p {
	font-size: 14px;
	color: #656d7b;
	font-weight: 500;
}

.copyright p a {
	color: #8c939f;
}



/* 24. Код модального окна
-------------------------------------------------*/

/* Main Layout
-------------------------------------------------------------------------------*/



/* Video Modal - Theater Mode
-------------------------------------------------------------------------------*/
.video-modal,
.video-modal .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 300;
}
.video-modal {
	overflow: hidden;
	position: fixed;
	opacity: 0.0;

    -webkit-transform: translate(500%,0%);
    transform: translate(500%,0%);

    -webkit-transition: -webkit-transform 0s linear 0s;
    transition: transform 0s linear 0s;


    /* using flexbox for vertical centering */

    /* Flexbox display */
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    /* Horizontal alignment */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    /* Vertical alignment */
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.video-modal .overlay {
    z-index: 0;
    background: rgba(0,93,171,0.80); /* dark blue */

    opacity: 0.0;

    -webkit-transition: opacity 0.2s ease-out 0.05s;
    transition: opacity 0.2s ease-out 0.05s;
}


.video-modal-content {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	z-index: 1;

	height: auto;
	/*   width: 76%; */
	width: calc(100% - 200px);
	max-width: 1000px;
	max-height: calc(100% - 100px);
	margin: 0 auto;

	overflow-y: visible;

	/*background: #fff;*/ /* container will have a transparent BG—moving the BG color and shadow to the iframe element to make it look more seamless */

	/* Transition looks a bit janky with the iframe */
	/*-webkit-transform: translate(0%,-20%);
    transform: translate(0%,-20%);

    -webkit-transition: -webkit-transform 0.2s ease-out 0.15s;
    transition: transform 0.2s ease-out 0.15s; */
}
/* Mobile Layout Tweaks */
@media (max-width: 640px) {
	.video-modal-content {
		width: calc(100% - 16px);
	}
}

/* close button */
.close-video-modal {
	display: block;
    position: absolute;
    right: 0;
    top: -40px;

    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;

    /*border: 2px solid red;*/
}

/* using a 16:9 image to resize the video frame */
.video-sizer {
	display: block;
	width: 100%;
	height: auto;
}

/* set the iframe element to stretch to fit its parent element */
iframe#youtube {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;

	background: #fff;
	box-shadow: 0px 2px 16px rgba(0,0,0,0.5);
}

/* show the modal */
/* add class to the body */
.show-video-modal .video-modal {
	opacity: 1.0;

	transform: translate(0%,0%);
	-webkit-transform: translate(0%,0%);
}
.show-video-modal .video-modal .overlay {
	opacity: 1.0;
}
.show-video-modal .video-modal-content {
	transform: translate(0%,0%);
	-webkit-transform: translate(0%,0%);
}

/*COLORS CSS*/

/*


COLOR CODE:  #0cb4ce


*/
::-webkit-scrollbar-thumb {
	background: #0cb4ce;
}

::selection {
	background-color: #0cb4ce;
}

-webkit-::selection {
	background-color: #0cb4ce;
}

::-moz-selection {
	background-color: #0cb4ce;
}

#scrollUp:hover {
	background-color: #0cb4ce;
}

.ip-header .ip-loader svg path.ip-loader-circle {
	stroke: #0cb4ce;
}

#featured-sign-up > a:hover,.subscribe-form-1 form input[type="submit"]:hover,.intro-buttons-2 > a:first-child:hover,.sign-up-form-3 > form > input[type="submit"]:hover,.intro-buttons-4 > a:hover,.sign-up-form-5 form input[type="submit"]:hover,.intro-buttons-6 > a:hover,.intro-buttons-7 > a:hover,.video-section-text > a:hover,.image-container-2-text > a:hover,#featured-price .price-footer > a:hover,.sign-up-section a:hover,.subscribe-widget > form > input[type="submit"]:hover {
	background: rgb(75, 218, 241);
	color: #ffffff;
	/* border: 2px solid #4e4e4e; */
}

.sign-up-form-holder-5 .policy-text a:hover {
	color: #56D5E8;
}

#featured-sign-up > a {
	background: #0cb4ce;
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav .current-nav a,.navbar-default .navbar-nav .current a {
	color: #0cb4ce !important;
}

.subscribe-form-1 form input[type="submit"] {
	background: #0cb4ce;
}

.intro-buttons-2 > a:first-child {
	background: #0cb4ce;
}

.intro-buttons-2 > a:last-child:hover {
	color: #0cb4ce;
}

.intro-buttons-2 > a:last-child:hover i {
	border: 2px solid #0cb4ce;
	color: #0cb4ce;
}

.sign-up-form-3 > form > input[type="submit"] {
	background: #0cb4ce;
}

.intro-buttons-4 > a {
	background: #0cb4ce;
}

.intro-buttons-4 > a:last-child:hover {
	color: #0cb4ce;
}

.sign-up-form-5 form input[type="text"]:focus,.sign-up-form-5 form input[type="email"]:focus,.sign-up-form-5 form input[type="password"]:focus {
	border: 2px solid #0cb4ce;
}

.sign-up-form-5 form input[type="submit"] {
	background: #0cb4ce;
}

.sign-up-form-holder-5 .policy-text a {
	color: #0cb4ce;
}

.intro-buttons-6 > a {
	background: #0cb4ce;
}

.intro-buttons-6 > a:last-child:hover {
	color: #0cb4ce;
}

.intro-buttons-7 > a {
	background: #0cb4ce;
}

.intro-buttons-7 > a:last-child:hover {
	color: #0cb4ce;
}

.single-key-feature > i {
	color: #0cb4ce;
}

.video-section-text > a {
	background: #3F51B5;
	/* border: 2px solid #3F51B5; */
	/* border-radius: 100px; */
}

.image-container-1-text > a:hover {
	background: #3F51B5;
	border: 2px solid #3F51B5;
}

.single-feature > i {
	color: #0cb4ce;
}

.image-container-2-text > a {
	background: #0cb4ce;
}

.single-service > i {
	background: #0cb4ce;
}

.single-service > a:hover {
	background: #0cb4ce;
}

.social-profile > a > i:hover {
	color: #0cb4ce;
}

.member-info {
	background: rgba(12,180,206,0);
}

.single-member:hover .member-info {
	background: rgba(12,180,206,0.9);
}

.work-info {
	background: #0cb4ce;
}

.work-link {
	border-left: 1px solid #e9e9e9;
}

.work-link:hover {
	background: #0cb4ce;
}

.plan-price {
	background: #0cb4ce;
}

.price-footer > a:hover {
	background: #0cb4ce;
}

#featured-price {
	background: #0cb4ce;
}

.question-number {
	color: #0cb4ce;
}

.quote-icon {
	color: #0cb4ce;
}

.sign-up-section {
	background: #0cb4ce;
}

.sign-up-section a {
	color: #0cb4ce;
}

.subscribe-widget > form > input[type="submit"] {
	background: #0cb4ce;
}



/*VIDEO MODAL WINDOW*/

/* Video Modal - Theater Mode
-------------------------------------------------------------------------------*/
.video-modal,
.video-modal .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 300;
}
.video-modal {
	overflow: hidden;
	position: fixed;
	opacity: 0.0;

    -webkit-transform: translate(500%,0%);
    transform: translate(500%,0%);

    -webkit-transition: -webkit-transform 0s linear 0s;
    transition: transform 0s linear 0s;


    /* using flexbox for vertical centering */

    /* Flexbox display */
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    /* Horizontal alignment */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    /* Vertical alignment */
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.video-modal .overlay {
    z-index: 0;
    background: rgba(128, 128, 128, 0.80); /* dark blue */
    opacity: 0.0;

    -webkit-transition: opacity 0.2s ease-out 0.05s;
    transition: opacity 0.2s ease-out 0.05s;
}


.video-modal-content {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	z-index: 1;

	height: auto;
	width: calc(100% - 200px);
	max-width: 1000px;
	max-height: calc(100% - 100px);
	margin: 0 auto;

	overflow-y: visible;


}
/* Mobile Layout Tweaks */
@media (max-width: 640px) {
	.video-modal-content {
		width: calc(100% - 16px);
	}
}

/* close button */
.close-video-modal {
	display: block;
    position: absolute;
    right: -5%;
    top: -10%;



    /*border: 2px solid red;*/
}

/* using a 16:9 image to resize the video frame */
.video-sizer {
	display: block;
	width: 100%;
	height: auto;
}

/* set the iframe element to stretch to fit its parent element */
iframe#youtube {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;

	background: #fff;
	box-shadow: 0px 2px 16px rgba(0,0,0,0.5);
}

/* show the modal */
/* add class to the body */
.show-video-modal .video-modal {
	opacity: 1.0;

	transform: translate(0%,0%);
	-webkit-transform: translate(0%,0%);
}
.show-video-modal .video-modal .overlay {
	opacity: 1.0;
}
.show-video-modal .video-modal-content {
	transform: translate(0%,0%);
	-webkit-transform: translate(0%,0%);
}